<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookccook.app.reommend_4.dao.InterestRecDAO">

	<resultMap type="com.cookccook.app.reommend_4.vo.InterestRecVO" 
            id="interestRecVOMap"
            autoMapping="true">
            
      <collection property="memberVO" ofType="com.cookccook.app.member.vo.MemberVO" autoMapping="true">
        <id column="MEMBER_ID" property="memberId" />
        <result column="MEM_NICKNAME" property="memNickname" />
      </collection>
      
      <collection property="interestVO"
                 ofType="com.cookccook.app.article.vo.InterestVO" autoMapping="true">
        <id column="INTEREST_ID" property="interestId" />
        <result column="INTEREST_ID" property="interestId" />
      </collection>
      
      <collection property="articleVO"
                  ofType="com.cookccook.app.article.vo.ArticleVO" autoMapping="true">
        <id column="ARTICLE_ID" property="articleId" />
        <result column="ARTICLE_ID" property="articleId" />
      </collection>
      
      <collection property="cuisineVO"
                  ofType="com.cookccook.app.recommend.vo.CuisineVO" autoMapping="true">
        <id column="CUISINE_ID" property="cuisineId" />
        <result column="CUISINE_ID" property="cuisineId" />
      </collection>
      
      <collection property="recipeVO"
                  ofType="com.cookccook.app.article.vo.RecipeVO">
        <id column="RECIPE_ID" property="recipeId" />
        <result column="RECIPE_NAME" property="recipeName" />
      </collection>
   </resultMap>
   
	<select id="allInterestRecommend"
			parameterType="string"
			resultMap="interestRecVOMap">
			SELECT RESULT.RECIPE_NAME
			     , RESULT.ATT_IMG_SMALL
			     , RESULT.ARTICLE_ID
			FROM
			(SELECT RR.RECIPE_NAME
			     , RR.ATT_IMG_SMALL
			     , RR.ARTICLE_ID
			  FROM RECIPE RR
			  	 ,(SELECT AA.ARTICLE_ID
						 , Z.INTEREST_ID
					  FROM ARTICLE AA
					     ,(SELECT M.MEM_NAME 
								, I.INTEREST_ID 
								, A.ARTICLE_ID
								, C.CUISINE_NAME 
								, R.RECIPE_NAME 
								, A.CUISINE_ID 
							 FROM "MEMBER" M
							 JOIN INTEREST I
							   ON M.MEMBER_ID = I.MEMBER_ID
							 JOIN ARTICLE A
							   ON I.ARTICLE_ID = A.ARTICLE_ID 
							 JOIN CUISINE C
							   ON A.CUISINE_ID = C.CUISINE_ID 
							 JOIN RECIPE R
							   ON A.ARTICLE_ID = R.ARTICLE_ID 
							WHERE M.MEMBER_ID = #{_parameter}) Z
					  WHERE AA.CUISINE_ID = Z.CUISINE_ID
					  GROUP BY Z.INTEREST_ID, AA.ARTICLE_ID) X 
			 WHERE RR.ARTICLE_ID = X.ARTICLE_ID
			 ORDER BY DBMS_RANDOM.value) RESULT
 			WHERE ROWNUM <![CDATA[<=]]> 5	
	</select>

</mapper>